body{
    padding-top: 70px;
    /*background: #F1F1F1;*/
}
.top20per{
    margin-top: 20px;
}
.bottom20per{
    margin-bottom: 20px;
}
.top10per{
    margin-top: 10px;
}
.left4per{
    margin-left: 4%;
}
.black:hover{
    background-color: #101010;
    border-color: #101010;
    color: white;
}
.submit-label {
    color: #d9534f;
    text-decoration: underline;
    cursor: pointer;
}
.center{
    text-align: center;
}
.error-label{
    color: #d9534f;
}
#banner{
    height: 250px;
}
#banner img{
    width: 100%;
    max-height: 250px;
}
#banner .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
#banner .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
}
#footer{
    height: 50px;
    background-color: #222;
    border-color: #080808;
    text-align: center;
    line-height: 50px;
    color: white;
}