

#submit-navber h5{
    text-align: center;
    font-weight: bold;
}

#submit-navber a{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.good-container .template-index-nav{
    border-bottom: 2px solid #21B384;
}
.good-container .template-index-nav a{
    /*font-weight: bold;*/
    color: #333;
}
.good-container .template-index-nav .active{
    padding: 0 25px;
    font: 15px/44px "Microsoft Yahei";
    color: #fff;
    background-color: #21B384;
}
.good-container .template-index-nav .look-more{
    margin-top: 20px;
    font-weight: bold;
}
.good-container .template-index-nav .look-more a{
   color: #337ab7;
}


.good-container .goods-list img{
    max-width: 100%;
}
.good-container .goods-list .col-lg-3{
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: inline;
    width: 22%;
}
.good-container .goods-list h5{
    text-align: center;
    font-weight: bold;
}

.good-container .goods-list h5 a{
    color: #454545;
    font-size: 14px;
}
.good-container .goods-list .good-info{
    height: 24px;
    margin: 0 10px;
    font-size: 12px;
    color: #bfbfbf;
}

